* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(129, 129, 131);
    background: linear-gradient(360deg, rgba(129, 129, 131, 1) 0%, rgba(146, 237, 53, 1) 100%);
}

h1 {
    text-align: center;
}

.input-nombre {
    text-align: center;
    border-radius: 50%;

}

.input-check {
    display: none;
    border: 10px solid black;
}

span {
    display: inline-block;
    position: relative;
    height: 2em;
    width: 2em;
    background: black;
    border-radius: 100%;
    transition: all 0.7s;
}

label {
    font-size: 1em;
    display: flex;
    flex: row;
    cursor: pointer;
}

label .input-check:checked~span {
    box-shadow: 0 0 30px 0 rgb(0, 140, 233);
}

label .input-check:checked~span:after {
    opacity: 1;
}

span:after {
    content: "";
    position: absolute;
    border: solid white;
    border-width: 0 0.3em 0.3em 0;
    transform: rotate(45deg);
    width: 0.5em;
    height: 1em;
    left: 0.72em;
    top: 0.49em;
    opacity: 0;
    transition: 0.3s ease;
}

.lista-check {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: 80px;
}

.tarea-pendiente {
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 18px;
    vertical-align: middle;
    /* line-height: 0px;      */
}

/* 
.tachar {
    background-size: auto;
    background-repeat: no-repeat;
    width: max-content;
    text-decoration: line-through;
  } */


/* #popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
} */


.inbox {
    max-width: 400px;
    margin: 50px auto;
    background: rgb(129, 129, 131);
    background: linear-gradient(360deg, rgba(129, 129, 131, 1) 0%, rgba(146, 237, 53, 1) 100%);
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
    border-bottom: 0;
}

input:checked+p {
    background: linear-gradient(360deg, rgba(129, 129, 131, 1) 0%, rgba(146, 237, 53, 1) 100%);
    text-decoration: line-through;
}

input[type="checkbox"] {
    margin: 20px;
}

p {
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    flex: 1;
    font-family: "helvetica neue";
    font-size: 20px;
    font-weight: 200;
    border-left: 1px solid #d1e2ff;
}